.inner-fld {
  width: auto !important;
  display: inline;
  margin-right: 10px;
}
.inner-check {
  width: 20px;
  display: inline;
  margin: 20px;
  height: 20px;
}
#mail-text {
  white-space: pre-wrap;
}
.exp {
  i {
    color: green;
  }
}
.w-sm {
  width: 70px;
}
