<div class="container">
    <div class="row">
        <div class="col-sm mt-3 mb-3">
            <h4>{{ 'rules.header' | translate }}</h4>
        </div>
    </div>
    <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" *ngIf="loadProgress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
    </div>
    <div class="row" *ngIf="rules!.length > 0 && userSettings?.mailserver != '' && !loadProgress">
        <p class="col-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-50">{{ 'rules.name' | translate }}</th>
                    <th scope="col">{{ 'rules.last_processed' | translate }}</th>
                    <th scope="col">{{ 'rules.total_qty' | translate }}</th>
                    <th scope="col"></th>
                    <th scope="col" class="w-sm text-align-right">{{ 'rules.actions' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let rule of rules; let first = first ;let last = last;">
                    <th scope="row" [ngClass]="{ 'disabled': !rule.active}">{{ rule.id }}</th>
                    <td [ngClass]="{ 'disabled': !rule.active}"><a  [routerLink]="['/rules', rule.id, 'edit']">{{ rule.name }}</a></td>
                    <td [ngClass]="{ 'disabled': !rule.active}">{{ rule.last_processed_at | date : 'medium' }}</td>
                    <td [ngClass]="{ 'disabled': !rule.active}">{{ rule.processed }}</td>
                    <td [ngClass]="{ 'disabled': !rule.active}">
                      <div *ngIf="first" class="btn-space"></div>
                      <button type="button"
                              (click)="moveUp( rule )"
                              class="btn me-1 btn-sm"
                              *ngIf="!first"><em class="bi-arrow-up-circle"></em></button>
                      <button type="button"
                              (click)="moveDown( rule )"
                              class="btn me-1 btn-sm"
                              *ngIf="!last"><em class="bi-arrow-down-circle"></em></button>
                      <div *ngIf="last" class="btn-space"></div>

                    </td>
                    <td class="text-align-right" [ngClass]="{ 'disabled': !rule.active}">
                        <button type="button"
                                class="btn btn-danger btn-sm" (click)="confirmDelete( rule.id )"><em class="bi-trash"></em></button>
                    </td>
                </tr>

                </tbody>
            </table>
    </div>
    <div class="row" *ngIf="!userSettings?.mailserver && !loadProgress">
        <div class="col-sm">
            <p class="text-center" [innerHTML]="'rules.error_mail_not_configured' | translate"></p>
        </div>
    </div>
    <div class="row" *ngIf="rules!.length === 0 && userSettings.mailserver && !loadProgress">
        <div class="col-sm">
            <p class="text-center" [innerHTML]=" 'rules.error_no_rules_found' | translate"></p>
        </div>
    </div>
    <div class="row" *ngIf="userSettings?.mailserver && !loadProgress">
        <div class="col-sm">
            <button class="btn btn-primary btn-sm" [routerLink]="['/rules/new']"><em class="bi-bookmark-plus"></em> {{ 'rules.create_rule' | translate }}</button>
        </div>
    </div>
</div>

<app-dialog #dialog></app-dialog>
