<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <div class="alert alert-success" *ngIf="isSentSucessfully" role="alert">
          Password changed successfully
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="incorrectToken">
          Incorrect link
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isSentFailed"
        >
          Problem, try again later
        </div>

      </div>
      <div class="form-group" *ngIf="!incorrectToken && !isSentSucessfully">
        <label for="password">New Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          Invalid password
        </div>
      </div>
      <div class="form-group" *ngIf="!incorrectToken && !isSentSucessfully">
        <button class="btn btn-primary btn-block">
          Change Password
        </button>
      </div>
      <a href="/login">Login</a> / <a href="/register">Register New Account</a>
    </form>
  </div>
</div>
