<div class="col-md-12" xmlns="http://www.w3.org/1999/html">
  <div class="card card-container-wide">

  <header class="jumbotron">
    <h3>
      {{ 'account.sync.edit' | translate  }}
    </h3>
  </header>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="joplinserver">{{ 'account.sync.joplinserver' | translate  }}</label>
      <select
        class="form-control"
        name="joplinserver"
        [(ngModel)]="form.joplinserver"
        required
        #joplinserver="ngModel"
      >
        <option *ngFor="let type of joplin_server_types_list" value="{{ type.enum }}">{{ 'lists.joplinserver.' + type.enum | translate }}</option>
      </select>
      <div class="alert-danger" *ngIf="joplinserver.errors && f.submitted">
        <div *ngIf="joplinserver.errors['required']">{{ 'account.sync.joplinserver-required' | translate  }}</div>
        <div *ngIf="joplinserver.errors['mailserver']">
          {{ 'account.sync.joplinserver-valid' | translate  }}
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'WEBDAV'">
      <label for="joplinserverdavurl">{{ 'account.sync.joplinserver-dav-url' | translate  }}</label>
      <input
        type="text"
        class="form-control"
        name="joplinserverdavurl"
        [(ngModel)]="form.joplinserverdavurl"
        #joplinserverdavurl="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'WEBDAV'">
      <label for="joplinserverdavusername">{{ 'account.sync.joplinserver-dav-username' | translate  }}</label>
      <input
        type="text"
        class="form-control"
        name="joplinserverdavusername"
        [(ngModel)]="form.joplinserverdavusername"
        #joplinserverdavusername="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'WEBDAV'">
      <label for="joplinserverdavpassword">{{ 'account.sync.joplinserver-dav-password' | translate  }}</label>
      <input
              type="password"
              class="form-control"
              name="joplinserverdavpassword"
              [(ngModel)]="form.joplinserverdavpassword"
              #joplinserverdavpassword="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'SERVER'">
      <label for="joplinserverserverurl">{{ 'account.sync.joplinserver-server-url' | translate  }}</label>
      <input
              type="text"
              class="form-control"
              name="joplinserverserverurl"
              [(ngModel)]="form.joplinserverserverurl"
              #joplinserverserverurl="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'SERVER'">
      <label for="joplinserverserverusername">{{ 'account.sync.joplinserver-server-username' | translate  }}</label>
      <input
              type="text"
              class="form-control"
              name="joplinserverserverusername"
              [(ngModel)]="form.joplinserverserverusername"
              #joplinserverserverusername="ngModel"
      />
    </div>
    <div class="form-group" *ngIf="joplinserver?.value == 'SERVER'">
      <label for="joplinserverserverpassword">{{ 'account.sync.joplinserver-server-password' | translate  }}</label>
      <input
              type="password"
              class="form-control"
              name="joplinserverserverpassword"
              [(ngModel)]="form.joplinserverserverpassword"
              #joplinserverserverpassword="ngModel"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">{{ 'account.sync.save-data' | translate  }}</button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isUpdatingFailed">
      {{ 'account.sync.update-failed' | translate  }}!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    {{ 'account.sync.settings-saved' | translate  }}
  </div>

  </div>
</div>
