<div class="col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="card card-container-wide">

        <header class="jumbotron">
            <h3>
                {{ 'rules.edit.header' | translate  }}
            </h3>
        </header>
        <form
                name="form"
                (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
                #f="ngForm"
                novalidate
                class="row g-3 needs-validation"
        >
            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.id' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.id }}</b>
            </div>
            <div class="mb-1 form-check form-switch" *ngIf="currentRule != undefined">
                <label class="form-check-label" for="active">{{ 'rules.edit.active' | translate  }}</label>
                <input
                        type="checkbox"
                        class="form-check-input"
                        name="active"
                        role="switch"
                        id="active"
                        [(ngModel)]="form.active"
                        #name="ngModel"
                />
            </div>
            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.processed' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.processed }}</b>
            </div>

            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.last_processed_at' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.last_processed_at | date : 'medium' }}</b>
            </div>

            <div class="mb-1">
                <label for="name" class="form-label">{{ 'rules.edit.name' | translate  }}</label>
                <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        [(ngModel)]="form.name" [ngClass]="{ 'is-invalid': name.errors && f.submitted}"
                        required
                        #name="ngModel"
                />
                <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
                    <div *ngIf="name.errors['required']">{{ 'rules.edit.name-required' | translate  }}</div>
                    <div *ngIf="name.errors['name']">
                        {{ 'rules.edit.name-valid' | translate  }}
                    </div>
                </div>
            </div>
          
            <div class="mb-1">
                <label for="save_in_parent_id">{{ 'rules.edit.save_in_parent_id' | translate  }}</label>
                <ng-select [multiple]="false"
                           [(ngModel)]="form.save_in_parent_id"
                           name="save_in_parent_id"
                           id="save_in_parent_id"
                           class="form-control"
                           [searchable]="true"
                           [clearable]="true"
                           addTagText="Create new node"
                           [addTag]="true"
                >
                    <ng-option *ngFor="let node of joplinCachedNodesList" [innerHTML]="node.disaplayName" value="{{node.name}}"></ng-option>
                </ng-select>
            </div>
            <div class="mb-1 form-check form-switch">
                <input
                        type="checkbox"
                        role="switch"
                        class="form-check-input"
                        name="save_in"
                        id="save_in"
                        [(ngModel)]="form.save_in"
                        #name="ngModel"
                />
                <label for="save_in" class="form-check-label">{{ 'rules.edit.save_in' | translate  }}</label>
            </div>
            <div class="mb-1 form-check form-switch">
                <label  class="form-check-label" for="stop_process_rules">{{ 'rules.edit.stop_process_rules' | translate  }}</label>
                <input
                        type="checkbox"
                        role="switch"
                        class="form-check-input"
                        name="stop_process_rules"
                        id="stop_process_rules"
                        [(ngModel)]="form.stop_process_rules"
                        #name="ngModel"
                />
            </div>
          <div class="alert alert-success" *ngIf="isSuccessful">
            {{ 'rules.edit.rules-saved' | translate  }}
          </div>
          <div class="alert alert-success" *ngIf="isSuccessfulNew">
            {{ 'rules.edit.rules-saved-new' | translate  }}
          </div>
          <ng-container  *ngIf="currentRule != undefined">
            <div class="mb-1">
              <label for="type"><b>{{ 'rules.edit.type' | translate  }}</b></label>
            </div>
            <div class="mb-1">
              <select
                class="form-control inner-fld"
                name="condition"
                id="condition"
                #condition
                required
              >
                <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>
                <option *ngFor="let cond of comparison_condition" value="{{ cond.enum }}">{{ 'lists.conditions.' + cond.enum | translate }}</option>
              </select>
              <select
                class="form-control inner-fld"
                name="type"
                id="type"
                #type
              >
                <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>
                <option *ngFor="let type of types_list" value="{{ type.enum }}">{{ 'lists.types.' + type.display | translate }}</option>
              </select>
              <select
                class="form-control inner-fld"
                name="comparison_method"
                id="comparison_method"
                #comparison_method
              >
                <option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>
                <option *ngFor="let list of comparison_list" value="{{ list.enum }}">{{ 'lists.comparison.' + list.enum | translate }}</option>
              </select>
              <input
                type="text"
                class="form-control inner-fld"
                name="comparison_text"
                #comparison_text
              />
              <button class="btn btn-success" (click)="addComparisonRule()">
                <i class="bi bi-plus-lg"></i> {{ 'rules.edit.add-comparison-rule' | translate  }}
              </button>&nbsp;
            </div>
            <div class="mb-1" *ngIf="currentRule?.rule_conditions?.length! > 0">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of currentRule?.rule_conditions; let i = index">
                  <button type="button" class="btn btn-xsm btn-outline-danger" (click)="delRuleCondition(item.id)"><i class="bi bi-trash"></i></button>
                  <ng-container *ngIf="i > 0">{{ 'lists.conditions.' + (item.cond == 1 ? 'AND' : 'OR')  | translate }}</ng-container>
                  {{ 'lists.types.' + geDisplayByName(types_list, item.type) | translate }}
                  {{ 'lists.comparison.' + item.comparison_method | translate }}
                  {{ item.comparison_text }}
                </li>
              </ul>
            </div>

            <div class="mb-1">
              <label for="action"><b>{{ 'rules.edit.final_action' | translate  }}</b></label>
            </div>
            <div class="mb-1">
              <select
                class="form-control inner-fld"
                name="action"
                id="action"
                #action
              >
                <option *ngFor="let type of final_action_list" value="{{ type.enum }}">{{ 'lists.final_action.' + type.enum | translate }}</option>
              </select>
              <input
                type="text"
                class="form-control inner-fld"
                name="action_target"
                id="action_target"
                #action_target
              />
              <button
                type="button"
                class="btn btn-xsm me-2"
                placement="top"
                ngbPopover="{{ 'rules.edit.action-target-subject-hint-text' | translate }}"
                triggers="mouseenter"
                popoverTitle="{{ 'rules.edit.action-target-subject-hint-header' | translate }}"
              >
                <i class="bi bi-question-circle"></i>
              </button>
              <button class="btn btn-success" (click)="addActionRule()">
                <i class="bi bi-plus-lg"></i> {{ 'rules.edit.add-action-rule' | translate  }}
              </button>&nbsp;
            </div>
            <div class="mb-1" *ngIf="currentRule?.rule_actions?.length! > 0">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of currentRule?.rule_actions">
                  <button type="button" class="btn btn-xsm btn-outline-danger" (click)="delRuleAction(item.id)"><i class="bi bi-trash"></i></button>
                  {{ 'lists.final_action.' + item.action | translate }}
                  {{ item.action_target }}
                </li>
              </ul>
            </div>
            <div class="mb-1">
            </div>
          </ng-container>
          
            <div class="mb-1">
                <button class="btn btn-primary">{{ 'rules.edit.save-data' | translate  }}</button>&nbsp;
                <button class="btn btn-secondary" [routerLink]="['/rules']">{{ 'rules.edit.cancel' | translate }}</button>
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="errorMessage != ''">
            {{ errorMessage  }}
        </div>

    </div>
</div>
<app-dialog #dialog></app-dialog>
<app-toast #toast></app-toast>
