<div class="col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="card card-container-wide">

        <header class="jumbotron">
            <h3>
                {{ 'rules.edit.header' | translate  }}
            </h3>
        </header>
        <form
                name="form"
                (ngSubmit)="f.form.valid && onSubmit(f.form.valid)"
                #f="ngForm"
                novalidate
                class="row g-3 needs-validation"
        >
            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.id' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.id }}</b>
            </div>
            <div class="mb-1 form-check form-switch" *ngIf="currentRule != undefined">
                <label class="form-check-label" for="active">{{ 'rules.edit.active' | translate  }}</label>
                <input
                        type="checkbox"
                        class="form-check-input"
                        name="active"
                        role="switch"
                        id="active"
                        [(ngModel)]="form.active"
                        #name="ngModel"
                />
            </div>
            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.processed' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.processed }}</b>
            </div>

            <div class="mb-1" *ngIf="currentRule != undefined">
                <label for="id">{{ 'rules.edit.last_processed_at' | translate  }}:</label>&nbsp;
                <b>{{ currentRule.last_processed_at | date : 'medium' }}</b>
            </div>

            <div class="mb-1">
                <label for="name" class="form-label">{{ 'rules.edit.name' | translate  }}</label>
                <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        [(ngModel)]="form.name" [ngClass]="{ 'is-invalid': name.errors && f.submitted}"
                        required
                        #name="ngModel"
                />
                <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
                    <div *ngIf="name.errors['required']">{{ 'rules.edit.name-required' | translate  }}</div>
                    <div *ngIf="name.errors['name']">
                        {{ 'rules.edit.name-valid' | translate  }}
                    </div>
                </div>
            </div>

            <div class="mb-1">
                <label for="type">{{ 'rules.edit.type' | translate  }}</label>
            </div>
            <div class="mb-1">
                <select
                        class="form-control inner-fld" [ngClass]="{ 'is-invalid': type.errors && f.submitted}"
                        name="type"
                        id="type"
                        [(ngModel)]="form.type"
                        #type="ngModel"
                        required
                >
                    <option *ngFor="let type of types_list" value="{{ type.enum }}">{{ 'lists.types.' + type.display | translate }}</option>
                </select>
                <select
                        class="form-control inner-fld" [ngClass]="{ 'is-invalid': comparison_method.errors && f.submitted}"
                        name="comparison_method"
                        [(ngModel)]="form.comparison_method"
                        #comparison_method="ngModel"
                        [disabled]="!type.value"
                        required
                >
                    <option *ngFor="let list of comparison_list" value="{{ list.enum }}">{{ 'lists.comparison.' + list.enum | translate }}</option>
                </select>
                <input
                        type="text"
                        class="form-control inner-fld" [ngClass]="{ 'is-invalid': comparison_text.errors && f.submitted}"
                        name="comparison_text"
                        [(ngModel)]="form.comparison_text"
                        required
                        #comparison_text="ngModel"
                        [readOnly]="!type.value || !comparison_method.value"
                />
                <div class="invalid-feedback" *ngIf="type.errors && f.submitted">
                    <div *ngIf="type.errors['required']">{{ 'rules.edit.type-required' | translate  }}</div>
                    <div *ngIf="type.errors['type']">
                        {{ 'rules.edit.type-valid' | translate  }}
                    </div>
                </div>
                <div class="invalid-feedback" *ngIf="comparison_method.errors && f.submitted">
                    <div *ngIf="comparison_method.errors['required']">{{ 'rules.edit.comparison_method-required' | translate  }}</div>
                    <div *ngIf="comparison_method.errors['comparison_method']">
                        {{ 'rules.edit.comparison_method-valid' | translate  }}
                    </div>
                </div>
                <div class="invalid-feedback" *ngIf="comparison_text.errors && f.submitted">
                    <div *ngIf="comparison_text.errors['required']">{{ 'rules.edit.comparison_text-required' | translate  }}</div>
                    <div *ngIf="comparison_text.errors['comparison_text']">
                        {{ 'rules.edit.comparison_text-valid' | translate  }}
                    </div>
                </div>
            </div>
            <div class="mb-1">
                <label for="final_action">{{ 'rules.edit.final_action' | translate  }}</label>
            </div>
            <div class="mb-1">
                <select
                        class="form-control inner-fld"
                        name="final_action"
                        id="final_action"
                        [(ngModel)]="form.final_action"
                        #final_action="ngModel"
                >
                    <option *ngFor="let type of final_action_list" value="{{ type.enum }}">{{ 'lists.final_action.' + type.enum | translate }}</option>
                </select>
                <input
                        type="text"
                        class="form-control inner-fld"
                        name="final_action_target"
                        [(ngModel)]="form.final_action_target"
                        #final_action_target="ngModel"
                        [readOnly]="final_action.value != 'MOVE_TO_FOLDER'"
                />
            </div>
            <div class="mb-1">
            </div>
            <div class="mb-1">
                <label for="save_in_parent_id">{{ 'rules.edit.save_in_parent_id' | translate  }}</label>
                <ng-select [multiple]="false"
                           [(ngModel)]="form.save_in_parent_id"
                           name="save_in_parent_id"
                           id="save_in_parent_id"
                           class="form-control"
                           [searchable]="true"
                           [clearable]="true"
                >
                    <ng-option *ngFor="let node of joplinCachedNodesList" [innerHTML]="node.name">{{node.name}}</ng-option>
                </ng-select>
            </div>
            <div class="mb-1 form-check form-switch">
                <input
                        type="checkbox"
                        role="switch"
                        class="form-check-input"
                        name="save_in"
                        id="save_in"
                        [(ngModel)]="form.save_in"
                        #name="ngModel"
                />
                <label for="save_in" class="form-check-label">{{ 'rules.edit.save_in' | translate  }}</label>
            </div>
            <div class="mb-1 form-check form-switch" *ngIf="currentRule != undefined">
                <label  class="form-check-label" for="stop_process_rules">{{ 'rules.edit.stop_process_rules' | translate  }}</label>
                <input
                        type="checkbox"
                        role="switch"
                        class="form-check-input"
                        name="stop_process_rules"
                        id="stop_process_rules"
                        [(ngModel)]="form.stop_process_rules"
                        #name="ngModel"
                />
            </div>

            <div class="mb-1">
                <button class="btn btn-primary">{{ 'rules.edit.save-data' | translate  }}</button>&nbsp;
                <button class="btn btn-secondary" [routerLink]="['/rules']">{{ 'rules.edit.cancel' | translate }}</button>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            {{ 'rules.edit.rules-saved' | translate  }}
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage != ''">
            {{ errorMessage  }}
        </div>

    </div>
</div>
