<div class="container">
  <div class="row">
    <div class="col-sm mt-3 mb-3">
      <h4>{{ 'mails.header' | translate }}</h4>
    </div>
  </div>

  <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" *ngIf="loadProgress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
  </div>

  <div class="row w-100" *ngIf="!loadProgress">
    <form
      name="form"
      (ngSubmit)="onSubmit(f.form.valid)"
      #f="ngForm"
      novalidate
    >
      <div class="row">
        <div class="col-sm mb-3">
          <button class="btn btn-primary btn-sm" [disabled]="resyncProgress"><em
            class="bi-arrow-clockwise"></em> {{ 'mails.resync_joplin' | translate }}</button>
        </div>
        <div class="col-sm text-align-right">
          <button class="btn btn-light btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseFilterForm" aria-expanded="false"
                  aria-controls="collapseFilterForm" (click)="displayFilter()"><em
            class="bi-filter"></em> {{ 'mails.show_filter' | translate }}</button>
        </div>
      </div>
      <div class="row collapse" id="collapseFilterForm">
        <div class="container filter-box">
          <div class="row">
            <div class="col-sm-3 me-3">
              {{ 'mails.subject' | translate }}:<input type="text" name="fsubject" [formControl]="fsubject" class="ms-3">
            </div>
            <div class="col-sm-3 me-3">
              {{ 'mails.text' | translate }}:<input type="text" name="ftext" [formControl]="ftext" class="ms-3">
            </div>
            <div class="col-sm pt-1 me-3">
              <input type="checkbox" name="fexported" id="fexported" [formControl]="fexported" class="me-1"><label
              for="fexported">{{ 'mails.converted' | translate }}</label>
              <input type="checkbox" name="fattachments" id="fattachments" [formControl]="fattachments" class="ms-3 me-1"><label
              for="fattachments">{{ 'mails.attachments' | translate }}</label>
            </div>
            <div class="col-sm text-align-right">
              <button class="btn btn-primary btn-sm mb-2 me-2" (click)="applyFilters()">{{ 'mails.apply_filter' | translate }}</button>
              <button class="btn btn-secondary btn-sm mb-2" (click)="resetFilters()">{{ 'mails.reset_filter' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#<app-sort [sort]="'id'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.subject' | translate }}<app-sort [sort]="'subject'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.sender' | translate }}<app-sort [sort]="'sender'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.received' | translate }}<app-sort [sort]="'received'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.attachments' | translate }}<app-sort [sort]="'attachments'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.rule' | translate }}</th>
          <th scope="col">{{ 'mails.converted' | translate }}<app-sort [sort]="'converted'" [curentSort]="sort" [sortOrder]="sortOrder" [callbackFunction]="reorderCallback"></app-sort></th>
          <th scope="col">{{ 'mails.actions' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mail of mails?.content; let i = index">
          <td><input
            type="checkbox"
            class="inner-check chb-list"
            name="exp_{{i}}"
            [ngModel]="isSelected(mail)" (ngModelChange)="onChange(mail, $event)"
            #name="ngModel"
          /></td>
          <th scope="row">{{ mail.id }}</th>
          <td><a [routerLink]="['/mails', mail.id, 'view']">{{ mail.subject || "<--->" }}</a></td>
          <td>{{ mail.sender }}</td>
          <td>{{ mail.received | date : 'medium' }}</td>
          <td class="t-att"><i class="bi bi-file-earmark-arrow-down" *ngIf="mail.attachments"></i></td>
          <td *ngIf="mail.rule_name"><a [routerLink]="['/rules', mail.rule_id, 'edit']">{{ mail.rule_name }}</a></td>
          <td *ngIf="!mail.rule_name">{{ 'mails.rule-deleted' | translate }}</td>
          <td class="t-conv"><i class="bi bi-patch-check-fill" *ngIf="mail.converted"></i></td>
          <td>
            <button type="button"
                    class="btn btn-danger btn-sm btn-del" (click)="confirmDelete( mail.id )"><em
              class="bi-bookmark-x"></em> {{ 'mails.delete' | translate }}</button>
          </td>
        </tr>

        </tbody>
      </table>
      <app-pagination #pagination [pages]="mails" [callbackFunction]="pageCallback"></app-pagination>
    </form>
  </div>
  <div class="row" *ngIf="!userSettings?.mailserver && !loadProgress">
    <div class="col-sm">
      <p class="text-center" [innerHTML]="'mails.error_mail_not_configured' | translate"></p>
    </div>
  </div>
  <div class="row" *ngIf="mails?.totalElements! === 0 && userSettings.mailserver && !loadProgress">
    <div class="col-sm">
      <p class="text-center" [innerHTML]=" 'mails.error_no_mails_found' | translate"></p>
    </div>
  </div>

</div>

<app-dialog #dialog></app-dialog>

<app-toast #toast></app-toast>

