<div id="app">

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <img src="/assets/images/logo_transparent_no_sign.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <a href="#" class="navbar-brand">{{ 'title' | translate }}</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">{{ 'home-nav' | translate }} </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">{{ 'admin' | translate }} </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/rules" class="nav-link" *ngIf="isLoggedIn" routerLink="rules">{{ 'my-rules' | translate }}</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a href="/register" class="nav-link" routerLink="register">{{ 'sign-up' | translate }}</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a href="/login" class="nav-link" routerLink="login">{{ 'login' | translate }}</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <img src="{{ avatar }}" alt="" width="30" height="24" class="d-inline-block align-text-top profile-avatar-img-card" *ngIf="avatar">
          <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="" width="30" height="24" class="d-inline-block align-text-top profile-avatar-img-card" *ngIf="!avatar">
          {{ username }}
        </a>
        <div  class="dropdown-menu">
          <ng-container>
            <a href="/profile" class="dropdown-item" >
              {{ 'profile' | translate }}
            </a>
            <a href="/settings" class="dropdown-item" >
              {{ 'settings' | translate }}
            </a>
            <a href="/sync" class="dropdown-item" >
              {{ 'sync' | translate }}
            </a>
            <a href class="nav-link" class="dropdown-item" (click)="logout()">
              {{ 'logout' | translate }}
            </a>
          </ng-container>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="languageList.length > 1">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          {{ currentLanguage }}
        </a>
        <div  class="dropdown-menu">
          <ng-container *ngFor="let language of languageList">
            <a
                    class="dropdown-item"
                    (click)="changeSiteLanguage(language.code)">
              {{ language.label }}
            </a>
          </ng-container>
        </div>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
