<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="alert alert-success" *ngIf="isSentSucessfully">
      In case username / email exists you should receive reset password link shortly
    </div>

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isSentFailed"
        >
          Problem, try again later
        </div>

      </div>
      <div class="form-group">
        <label for="email">Username / Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
          Username / Email is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Send password reset link
        </button>
      </div>
      <a href="/login">Login</a> / <a href="/register">Register New Account</a>
    </form>
  </div>
</div>
