<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <div class="alert alert-success" *ngIf="isSentSucessfully">
      {{ 'account.forgot-password.sent-successfully' | translate  }}
    </div>

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isSentFailed"
        >
          {{ 'account.forgot-password.problem' | translate  }}
        </div>

      </div>
      <div class="form-group">
        <label for="email">{{ 'account.forgot-password.username' | translate  }}</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
          {{ 'account.forgot-password.username-required' | translate  }}
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          {{ 'account.forgot-password.send-password' | translate  }}
        </button>
      </div>
      <div *ngIf="!isLoggedIn"><a href="/login">{{ 'account.forgot-password.login' | translate  }}</a> / <a href="/register">{{ 'account.forgot-password.register-account' | translate  }}</a></div>
    </form>
  </div>
</div>
